#auto
{
	text-align: center;
	margin-top: 30px;
}

ul 
{
	list-style-type: none;
}

p
{
	font-size: 20px;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-decoration: none;
}

a:link 
{ 
	color: blue;
}

a:visited 
{
	color: blue;
}

a:hover 
{ 
	color: blue;
}

a:active 
{ 
	color: blue;
}	